body {
  margin: 0;
  padding: 0;
}

.navBar {
  background: #232750;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 15px;
}

.menuToggle {
  display: none;
}

.menuIcon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.logo {
  padding: 2px 10px;
  border-radius: 20px;
  background-color: #fea826;
  color: #232750;
}

.logo h1 {
  margin: 0;
}

.navLinks ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navLinks ul li a {
  text-decoration: none;
  color: #fea826;
  font-weight: bold;
  padding: 8px;
  border-radius: 10px;
}

.container {
  margin: 20px auto;
  width: 85%;
}
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  place-items: center;
  margin: 100px 0;
}

.heroIcons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.heroIcons a {
  text-decoration: none;
  color: #fea826;
}
.heroImage {
  width: 100%;
}
.heroImage img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.projects {
  margin-top: 120px;
  margin-bottom: 100px;
}

.projects h2 {
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.projects-grid-item {
  height: 500px;
  position: relative;
}

.projects-grid-item img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.projects-grid-buttons {
  position: absolute;
  bottom: 0;
}

.site-button {
  padding: 10px 15px;
  background: #232750;
  color: #fea826;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}

.site-button:hover {
  background: #fea826;
  color: #232750;
}

.repo-button {
  padding: 10px 15px;
  background: #fea826;
  color: #232750;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.repo-button:hover {
  background: #232750;
  color: #fea826;
}

.footer {
  background-color: #232750;
  color: #fea826;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.footer h2 {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .navLinks {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  .menuIcon {
    display: inline-flex;
  }
  #menuToggle:checked ~ .navLinks {
    max-height: 100%;
  }
  .navLinks ul {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .hero {
    grid-template-columns: 1fr;
    margin: 30px 0;
    gap: 40px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
